*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
html,
body,
#__next {
  height: 100%;
  color: var(--text);
  background-color: var(--bg);
}
#__next {
  display: flex;
  flex-direction: column;
}
img {
  display: block;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}
a {
  color: inherit;
  text-decoration: none;
}
li {
  list-style: none;
}
#root,
#__next {
  isolation: isolate;
}
button {
  border: none;
  font: inherit;
}
